*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Droid Arabic Kufi",sans-serif;
    text-decoration: none;
    color: black;
}

/* --------------------  nav -------------------- */

header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 30px 15% 0 15% ;
}
nav ul{
    list-style: none;
  
}
nav ul li{
    display: inline-block;
    padding: 0 0px;
    width: 120px;
    text-align: center;

    
   
}
nav ul li a{
    transition: all 1.3s ease 0s;
    font-size: 13.5px;
    
    
}nav ul li a:hover{
    color: crimson;
}


.left img{
    padding: 0 10px;
}

.logo{
}

/* --------------------  header -------------------- */

.header{
   
    width: 100%;
    height: 70vh;
    background-image: url(../img/backgroumd.jpg);
    background-size: cover;
   
}
.hh1 h1{
    text-align: center;
    font-size: 2.7rem;
    color: aliceblue;
    text-shadow: #00000047 3px 3px 10px;
    padding-top: 50px;
}
.filter-form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-form{
     
    background: #fff;
    border-radius: 1.2rem;
    width: 65%;
    height: 22vh;
    box-shadow: #00000047 3px 3px 10px;
    margin-top: 100px;
    text-align: center;

}

#filter-p{
    font-size: 1.5rem;
    margin-bottom: 15px;
    margin-top: 12px;
}
.filter-input{
    height: 440px;
    outline: none;
    text-align: right;
    padding: 0 10px;
    border: 1px solid crimson;
    border-radius: 2px;


}
#input1{
width: 40%;
height: 40px;

}

option{
   
    text-align: right;
}
select{

    height: 40px;
    border: 1px solid crimson;
    border-radius: 2px;

}

#Search{
    height: 40px;
    width: 60px;
    background-color: crimson;
    border: none;
    border-radius: 5px;
    color: #fff;
}

/* ---------------------  section 1 -------------------------- */
.o-s {
    
}
.Services1 {
    margin-bottom: 80px;
}

#Our-Services-p {
    text-align: center;
    /* margin-top: 10px; */
    font-weight: 200;
    font-size: 1.4rem;
    margin-bottom: 30px;
}

.Services-top {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-content: center;
    padding: 30px 15% 0 15% ;

}

.line{
    margin-top: 20px;
    display: flex;
    height: 1.5px; ;
    width: 30% ;
    background-color: #00000096;
}


.elementor-icon{
    /* background-color: #2980B9;
    fill: #2980B9; */
}

.s-i{
  
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
}
.fas{
    
   
    height: 60px;
    width:60px;
    border-radius: 5px;
    
    text-align: center;
    justify-content: space-between;
    align-content: center;
    
}
.fab{
    
   
    height: 60px;
    width:60px;
    border-radius: 5px;
    
    text-align: center;
    justify-content: space-between;
    align-content: center;
    
}.fa{
    
   
    height: 60px;
    width:60px;
    border-radius: 5px;
    
    text-align: center;
    justify-content: space-between;
    align-content: center;
    
}
#icon1 {
    border: 3px solid #2980B9;
    color: #2980B9;
    
}#icon2 {
    /* height: 60px;
    width:60px; */
    border: 3px solid #0bc5f3; 
    color: #0bc5f3;
    
}#icon3 {
    border: 3px solid #b92984;
    color: #b92984;
    
}#icon4 {
    border: 3px solid #b92929;
    color: #b92929;
    
}#icon5 {
    border: 3px solid #ec860a;
    color: #ec860a;
    
}#icon6 {
    border: 3px solid #b929b9;
    color: #b929b9;
    
}

i{
   
    justify-content: center;
    align-items: center;
    font-size: 31px;
    padding: 10px 0 0 0;
}

/* ---------------------  section 1.5 -------------------------- */
.Services2{
    margin-bottom: 80px;
}

.All-Services{
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
   
}


.Servicess{
   margin: 30px;
    text-align: center;
    height: 270px;
    width: 160px;
    background-color: #2980B9;
    border-radius: 5px;
    border: 2px solid crimson;
 
}

/* ======= Services ========== */

#Service1{
    background-image: url(../img/Zellige.jpg);
    background-size: cover;
}#Service1::before{
   padding: 5px 0 0 0;
   content: "الزليج  العصري";
   font-size: 0.6rem;
   display: block;
   height: 30px;
   width:80px ;
   background-color: crimson;
   color: #fff;
   border: 5px solid #fff;
   margin-top: 241px;
}
/* #Tangier::after{
    padding: 5px 0 0 0;
    content: "طنجة";
    font-size: 1.1rem;
    display: block;
    height: 41px;
    width:120px ;
    background-color: rgb(57, 20, 220);
    color: #fff;
 } */

#Service2{
    background-image: url(../img/building\ houses.jpg);
    background-size: cover;
}#Service2::before{
    padding: 5px 0 0 0;
    content: "بناء المنازل";
    font-size: 0.6rem;
    display: block;
    height: 30px;
    width:80px ;
    background-color: crimson;
    color: #fff;
    border: 5px solid #fff;
    margin-top: 241px;
}
#Service3{
    background-image: url(../img/carpentry.jpg);
    background-size: cover;
}#Service3::before{
    padding: 5px 0 0 0;
   content: "نجارة الخشب";
   font-size: 0.6rem;
   display: block;
   height: 30px;
   width:80px ;
   background-color: crimson;
   color: #fff;
   border: 5px solid #fff;
   margin-top: 241px;
}
#Service4{
    background-image: url(../img/bbmenuis2.jpg);
    background-size: cover;
}#Service4::before{
    padding: 5px 0 0 0;
   content: "نجارة الالومنيوم";
   font-size: 0.6rem;
   display: block;
   height: 30px;
   width:80px ;
   background-color: crimson;
   color: #fff;
   border: 5px solid #fff;
   margin-top: 241px;
}

#Service5{
    background-image: url(../img/ff.jpg);
    background-size: cover;
}#Service5::before{
    padding: 5px 0 0 0;
   content: " الماء و الكهرباء";
   font-size: 0.6rem;
   display: block;
   height: 30px;
   width:80px ;
   background-color: crimson;
   color: #fff;
   border: 5px solid #fff;
   margin-top: 241px;
}

#Service6{
    background-image: url(../img/image.webp);
    background-size: cover;
}#Service6::before{
    padding: 5px 0 0 0;
   content: "الصباغة العصرية";
   font-size: 0.6rem;
   display: block;
   height: 30px;
   width:80px ;
   background-color: crimson;
   color: #fff;
   border: 5px solid #fff;
   margin-top: 241px;
}
/* #Service7{
    background-image: url(../img/card-1.jpg);
    background-size: cover;
}#Service7::before{
    content: "أكادير";
   padding: 5px 0 0 0;
   font-size: 1.1rem;
    display: block;
    height: 38px;
    width:120px ;
    background-color: crimson;
    color: #fff;
    border: 5px solid #fff;
    margin-top: 381px;
} */














/* ---------------------  section 2 -------------------------- */

p{
    color: #242424;
    margin-top: 10px;
}

.tt{
     /* display: block; */
     width: 150px;
     display: flex;
     flex-direction: column;
     align-items: center;
}

#section2{
    margin: 70px 0;
text-align: center;
}

#hh2{
    margin: 10px;
}
#pp2{
    margin: 10px 0 20px 0;
    color: crimson;

}


.All-cities{
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    padding: 0px 50px;
 
    width: 100%;

}
.cities{
    text-align: center;
    height: 420px;
    width: 230px;
    background-color: #2980B9;
    border-radius: 5px;
    padding: 0px 10px;
    margin-top: 30px;
    
}
.cities h3 {

    font-size: 1.1rem;
    background-color: crimson;
    color: #fff;
    border: 5px solid #fff;
    position: absolute;
    left: 0;
    bottom: 0;
}


/* =======cities========== */

#Tangier{
    background-image: url(../img/tanger.jpg);
    background-size: cover;
}#Tangier::before{
   
   content: "طنجة"; 
   font-size: 1.1rem;
   padding: 5px 0 0 0;
   display: block;
    height: 38px;
    width:120px ;
    background-color: crimson;
    color: #fff;
    border: 5px solid #fff;
    margin-top: 381px;
   margin-left: -12px;
}
/* #Tangier::after{
    padding: 5px 0 0 0;
    content: "طنجة";
    font-size: 1.1rem;
    display: block;
    height: 41px;
    width:120px ;
    background-color: rgb(57, 20, 220);
    color: #fff;
 } */

#Casablanca{
    background-image: url(../img/casa.jpg);
    background-size: cover;
}#Casablanca::before{
    content: "الدار البيضاء";
    font-size: 1.1rem;
   padding: 5px 0 0 0;
   display: block;
    height: 38px;
    width:120px ;
    background-color: crimson;
    color: #fff;
    border: 5px solid #fff;
    margin-top: 381px;
   margin-left: -12px;

}
#Rabat{
    background-image: url(../img/rabat.jpg);
    background-size: cover;
}#Rabat::before{
   padding: 5px 0 0 0;
   content: "الرباط";
    font-size: 1.1rem;
    display: block;
    height: 38px;
    width:120px ;
    background-color: crimson;
    color: #fff;
    border: 5px solid #fff;
    margin-top: 381px;
   margin-left: -12px;

}
#Marrakech{
    background-image: url(../img/marrakech.jpg);
    background-size: cover;
}#Marrakech::before{
   padding: 5px 0 0 0;
   content: "مراكش";
    font-size: 1.1rem;
    display: block;
    height: 38px;
    width:120px ;
    background-color: crimson;
    color: #fff;
    border: 5px solid #fff;
    margin-top: 381px;
   margin-left: -12px;

}

#Agadir{
    background-image: url(../img/agadir.jpg);
    background-size: cover;
}#Agadir::before{
    content: "أكادير";
   padding: 5px 0 0 0;
   font-size: 1.1rem;
    display: block;
    height: 38px;
    width:120px ;
    background-color: crimson;
    color: #fff;
    border: 5px solid #fff;
    margin-top: 381px;
   margin-left: -12px;

}

/* ************************************************ */
.tit2{
    text-align: center;
}
#ppp1{
    margin: 50px 0 0 0;
font-size: 1.4rem;
color: #242424;
font-weight: 600;
}#ppp2{
    font-size: 0.9rem;
color: crimson;
}

/* ************************************************** */


.Lists{
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

.List1{
    text-align: right;
    padding: 0 80px;
}.List2{
    text-align: right;
    padding: 0 80px;
    
}.List3{
    text-align: right;
    padding: 0 80px;
    
}.List4{
    text-align: right;
    padding: 0 80px;
    
}


.linee{
    height: 1px;
    width: 100%;
   background-color: crimson;
   margin-bottom: 15px;
}

.List-p{
    font-size: 1.2rem;
    color: crimson;
}



.Lists-a{
    display: block;
    font-size: 0.9rem;
    text-align: right;
}


/* ================================= content ======================================== */


.cards{
    height: 450px;
    width: 300px;
    border: 3px solid crimson;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}








/* ==================================== footer ============================================== */
footer{
    background-color: #f8f8f8;
}
.Social_media{
    margin-top: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 45%;
}
.media{
    /* display: block; */
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}





#s-icon1 {
    border: 3px solid #2980B9;
    color: #2980B9;
    
}#s-icon2 {
    /* height: 60px;
    width:60px; */
    border: 3px solid #0bc5f3; 
    color: #0bc5f3;
    
}#s-icon3 {
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc18a9 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
        
    color: #fff;
    font-size: 2.5rem;


}#s-icon4 {
    border: 3px solid #b92929;
    color: #b92929;
    
}




















#c{
    text-align: right;
    font-size: 0.8rem;
    margin-right: 150px;
}
#nm{
    color: crimson;
}